<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="static/css/default.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">О нас</a></li>
      <li><a href="/createProject">Рассчитать проект</a></li>
      <li><a href="/contact">Связаться с нами</a></li>
    </ul>
  </nav>

  <main>



    <section id="contact">
      <h1>Контакты</h1>
        <p>Свяжитесь с нами по электронной почте: <a href="mailto:grinkov.iurii2002@gmail.com">grinkov.iurii2002@gmail.com</a></p>
        <div class="btn-group float-right mb-3">
             <label>Или оставьте обратную связь для улучшения работы нашего сервиса</label>
             <form method="post" action="" id="feedbackForm" class="form-contact">
                 <p><textarea id="textComment" name="textComment" style="font-size:16px;  height: 50px;  width: 500px;" ></textarea></p>
                <p><input type="submit" value="Отправить"/></p>
            </form>
        </div>
    </section>

  </main>

</body>
</html>