<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Простой шаблон с вкладками</title>
  <link rel="stylesheet" href="static/css/default.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">О нас</a></li>
      <li><a href="/createProject">Рассчитать проект</a></li>
      <li><a href="/contact">Связаться с нами</a></li>
    </ul>
  </nav>

  <main>
    <section id="home">
      <h1>О нас</h1>
      <p>Это работа Гринькова Юрия, студента 4 курса Высшей школы экономики по направлению БИ.</p>
      <p>Она была создана для расчета оценки социального эффекта некоммерческой постройки.</p>
      <p><a href="/createProject">Здесь</a> вы можете рассчитать примерную социальную эффективность предполагаемой гос. школы или гос. больницы!</p>
      <p>На данный момент модель рассчитана на работу только с Москвой и Санкт-Петербургом.</p>
    </section>


  </main>

</body>
</html>